.idea
dist/.idea_modules
dist/.settings
dist/project/target
dist/project/project
dist/target
dist/module/fixy/target
samples/.settings
samples/project/target
samples/.idea_modules
samples/project/project
samples/target
samples/data
dist/logs
/bin/
/target/
*.class
.classpath
.project
.settings/
build/
resources/cfe/
resources/images/qr/
*.pkcs12
*.DS_Store
project/target/*
project/project/*
conf/security
conf/servers.conf
.cache-main
.cache-tests
.sbtserver/*
builds
deploys
deploy_conf
